/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  background-color: #f2d2bd;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2em;
  color: #6c757d;
}
.nav {
  margin-top: 1.5rem;
}
.nav-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-items li {
  list-style: none;
  margin-left: 5%;
}

.logo {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-title {
  font-size: 20px;
}


.form {
  display: flex;
  flex-direction: column;
}
.popup-food img {
  width: 70%;
  height: 300px;
  margin-left: 15%;
  border-radius: 5px;
}

.meal-title {
  text-align: center;
  margin: 1rem;
}
.description {
  letter-spacing: 0.2em;
}
.comment-title {
  text-align: center;
  margin: 0.8rem;
}
.display-comments {
  display: flex;
  justify-content: center;
}
.add-comm {
  text-align: center;
  margin: 1rem;
}
.form {
  width: 300px;
  margin-left: 10%;
}
.form .name {
  padding: 0.5rem;
  width: 70%;
  margin: 1rem 0;
  border: 2px solid black;
  font-weight: bolder;
}
.form .insights {
  padding-bottom: 20%;
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  font-weight: bolder;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
gap: 30px;
margin: 200px;
}


.social-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}
.icon {
  border-radius: 50%;
  margin-left: 2rem;
}
.footer {

  bottom: 1rem;
  width: 100%;
  margin: 1rem auto;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 7px 3px -3px rgba(0, 0, 0, 0.5);
}
.licence {
  text-align: center;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

.popup-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin-top: -30px;
  backdrop-filter: blur(10px);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup {
  max-height: 80%;
  max-width: 90%;
  overflow-y: scroll;
  background-color: #f4f4f4;
}

.popup-header {
  --stripe: #cfd8dc;
  --bg: #e1e1e1;
  background: linear-gradient(135deg, #e1e1e1 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #e1e1e1 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #e1e1e1 25%, transparent 25%),
    linear-gradient(45deg, #e1e1e1 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
  display: flex;
  background-size: cover;
  flex-direction: column;
  gap: 30px;
  height: 300px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.popup-header > .img-poppop {
  position: absolute;
  bottom: 0px;
  top: 0px;
  box-shadow: inset 0px 0px 10px 20px white;
}


.card {
  display: inline-block;
  width: 240px;
  text-align: center;
}


.img-popcontainer {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}
.single-comment {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}
.comment-list {
  height: 100%;
}
b {
  font-size: 12px;
  letter-spacing: 1px;
}

.single-product-example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-products {
  height: 100px;
  width: 100px;
}
.user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.img-popcontainer img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.img {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}
.imgex {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 150px;
  width: 200px;
}

.title-example {
  font-size: 12px;
  letter-spacing: 1px;
}

.title-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height: 250px;
    margin: -35px 0px 0px -70px;
}

.img {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 250px;
    width: 200px;
}

.img-container img {
  transition: transform .5s ease;
}

.img-container img:hover {

  transform: scale(0.8);
}

.title-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.title-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}

.fa-heart:hover {
  color: red;
  cursor: pointer;
}

.fa-comment:hover {
  color: rgb(0, 89, 232);
  cursor: pointer;
}

.comment {
  padding: 10px;
  margin :20px;
  background-color: #04bcff;
  border: 0;
  border-radius: 5%;
  font-size: 15px;
  color: #fff;
}

.interactions {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.popup-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.details {
  display: flex;
  max-width: 70%;
  flex-direction: column;
}
.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 80px;
  margin-right: 70px;
  margin-bottom: 40px;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  cursor: pointer;
}

.details-text {
  padding: 20px;
  background-color: #cfcccc4f;
  border-radius: 20px;
  margin: 40px;
}

.images {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.popup-comments {
  width: 30%;
}
.container-comments {
  width: 100%;
  background-color: rgba(221, 218, 218, 0.453);
  height: 100%;
  display: flex;
  flex-direction: column;
}

form {
  margin: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#name {
  max-width: 50%;

  padding: 12px 20px;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#comment {
  max-width: 80%;
  padding: 12px 20px;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}
.submit {
  width: 100px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #45a049;
}

/* Sroll Bar */
::-webkit-scrollbar {
  width: 3px;
  background: #b9b9b9;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #c8c8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 3px;
}

.hide {
  display: none;
}

.img-popholdpop > .imgex > img {
  max-height: 200px;
  max-width: 200px;
}

@media only screen and (max-width: 800px) {
  .popup {
    max-height: 80%;
    max-width: 100%;
    overflow-y: scroll;
    background-color: #f4f4f4;
  }

  .popup-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .details {
    display: flex;
    max-width: 100%;
    flex-direction: column;
  }
  .images {
    display: none;
  }

  .popup-comments {
    width: 100%;
  }
  .closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 80px;
    margin-right: 10px;
    margin-bottom: 20px;
    align-self: flex-end;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 5px;
  }
}

