@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  background-color: #f2d2bd;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2em;
  color: #6c757d;
}

.nav {
  margin-top: 1.5rem;
}

.nav-items {
  display: flex;
}

.nav-items li {
  list-style: none;
  margin-left: 5%;
}

.logo {
  border-radius: 50%;
  border: 1px solid black;
  padding: 3rem;
}

.nav-link {
  padding-top: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 33%;
  height: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-image img {
  max-width: 90%;
  max-height: 90%;
}

.likes {
  margin-top: 0.5rem;
  text-align: end;
  padding-right: 1.5rem;
}

.comment-button {
  display: flex;
  justify-content: end;
  padding-right: 1.5rem;
}

.button {
  padding: 0.8rem;
  border: none;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 1);
  background-color: rgb(100, 86, 86);
}

.social-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.icon {
  border-radius: 50%;
  border: 1px solid rgba(129, 129, 129, 0.897);
  padding: 1rem;
  margin-left: 2rem;
}

.footer {
  position: relative;
  bottom: 1rem;
  width: 100%;
  margin: 2rem auto;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 7px 3px -3px rgba(0, 0, 0, 0.5);
}

.licence {
  text-align: center;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}
